@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;

      /* Custom properties */
      --navigation-height: 3.5rem;
      --color-one: #ffbd7a;
      --color-two: #fe8bbb;
      --color-three: #9e7aff;

      --aurora-color-1: #0026ff;
      --aurora-color-2: #aa00ff;
      --aurora-color-3: #0026ff;
      --aurora-color-4: #aa00ff;
      --aurora-color-5: #eaff00;

      --color-1: 30 100% 74%;
      --color-2: 335 100% 77%;
      --color-3: 256 100% 74%;
      --color-4: 203 100% 74%;
      --color-5: 122 255 215;

      /* --color-1: 0 100% 63%;
      --color-2: 270 100% 63%;
      --color-3: 210 100% 63%;
      --color-4: 195 100% 63%;
      --color-5: 90 100% 63%; */

      /*
    --color-one: #37ecba;
    --color-two: #72afd3;
    --color-three: #ff2e63;
     */

     --color-scheme: dark;
     --light-green: #c3ff9e;
     --light-teal: #7cffcd;
     --electric-blue: #0025ff;
     --grey-333: #333333;
   }

   .dark {
      --background: 0 0% 0%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;

         /* Custom properties */
         --navigation-height: 3.5rem;
         --color-one: #ffbd7a;
         --color-two: #fe8bbb;
         --color-three: #9e7aff;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}

html.dark { color-scheme: dark; }

.display-none-important {
   display: none!important;
}

body {
   line-height: normal;
}

.z-60 {
   z-index: 60;
}

.small-height-full-width {
   height: 33vw;
   width: 100vw;
   background-color: hsl(var(--background));
   align-items: center;
}

.small-height-full-width nav.default {
   display: none;
}

.small-height-full-width nav.special div.absolute {
   left: -100px!important;
}

.highlight {
   font-weight: bold;
   color: hsl(var(--primary));
}

.highlight-background {
   font-weight: bold;
   color: hsl(var(--secondary));
}

header {
   font-size: 1rem;
   line-height: 1.3;
   box-shadow: 0 8px 10px #00000008;
}

#portfolio-main .md\:text-xl {
   font-size: 1rem;
   line-height: 1.25rem;
}

#portfolio-main .text-xl {
   font-size: 1rem;
   line-height: 1.25rem;
}

#portfolio-main .text-sm {
   font-size: 0.725rem;
   line-height: 1rem;
}

#portfolio-main .text-xs {
   font-size: 0.725rem;
   line-height: 1rem;
}

#portfolio-main .text-base {
   font-size: 0.8rem;
}

#portfolio-main .text-extra-small {
   font-size: 0.625rem;
   line-height: 1rem;
}

.hero-section {
   margin-top: var(--navigation-height);
}

h2 {
   font-size: 4.5rem;
   font-family: 'DM Sans', 'Archivo', sans-serif;
}

.text-gradient-2023 {
   background: linear-gradient(50deg, var(--electric-blue), #7b00ff 31.28%, #E151FF 77.97%, #ff00cc 95.64%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.hero-section.horizontal-card {
   /* color: white; */
   /* background-image: url("/blue_purple_bg_6.jpg"); */
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   /* background-color: #000000; */
}

footer > div {
   background-color: #232323;
}

@media (min-width: 768px) {
   #portfolio-main .md\:text-xl {
       font-size: 1rem;
       line-height: 1.25rem;
   }
}

@media (min-width: 640px) {
   #portfolio-main .sm\:text-5xl {
       font-size: 2rem;
       line-height: 1;
   }
}



@media (max-width: 768px) {
   .copilot-section  .floating-dollars .dollar-symbol {
      display: none;
   }
  .copilot-section .horizontal-card .description {
   position: absolute;
   left: 0;
   bottom: 10px;
   width: auto;
   z-index: 1;
   padding: 10px;
   margin: 0 auto;
   width: 100%;
   justify-content: center;
   align-items: center;
  }

  .copilot-section .horizontal-card .description > * {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
  }

  .copilot-section .horizontal-card .illustration {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
}

section {
   width: 100vw!important;
   /* font-family: 'Archivo', sans-serif; */
   margin-bottom: var(--navigation-height);
   margin-top: var(--navigation-height);
}

section h2 {
   line-height: normal!important;

}

section h3 {
   line-height: normal!important;
   font-weight: 500!important;
   font-size: 1.5rem!important;
}

.usecases-marquee, .marquee-group {
   background-color: transparent!important;
}

.usecases-marquee .review-card {
   overflow-y: visible!important;
   box-shadow:inset 0px 0px 5px #80808024;
   border: none;
}
.usecases-marquee .marquee-group {
   overflow-y: visible!important;
   overflow-x: clip!important;
}

.usecases-marquee blockquote {
   font-size: 12px!important;
   font-weight: 100!important;
   font-weight: lighter !important;
   font-family: sans-serif;
   position: absolute;
   top: 25px;
   left: 20px;
}

.review-card {
   position: relative;
   min-height: 120px;
   max-height: 120px;
   overflow: visible;
}

.usecases-marquee .review-card .title {
   display: block!important;
   position: absolute;
   top: 10px;
   left: 20px;
   font-size: 13px;
}

.usecases-marquee .review-card .icon-container {
   display: block!important;
   width: 20px;
   height: 20px;
   display: flex!important;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   position: absolute;
   top: 10px;
   right: 10px;
   box-shadow: 1px 1px 1px #80808061;
}

.usecases-marquee .review-card .icon {
   width: 12px;
   height: 12px;
   font-weight: 100;
}

.usecases-marquee .avatar {
   position: absolute;
   top: -50px;
}

.usecases-marquee .avatar img {
   width: 35px;
   height: 35px;
   object-fit: cover;
   box-shadow: 0px 0px 3px 0 rgb(0 0 0);
   border: 1px solid white;
}

.usecases-marquee .avatar > div {
   flex-direction: row;
}

.usecases-marquee .avatar > div * {
   text-align: center;
   margin-left: 5px;
   line-height: normal;
   font-weight: normal;
   font-family: sans-serif;
   /* vertical-align: middle; */
   display: contents;
   font-size: 12px;
}

.usecases-marquee .avatar .text-details {
   margin-left: 15px;
   background-color: black;
   padding: 5px 10px;
   border-radius: 100px;
   line-height: 1;
   padding-bottom: 8px;
   height: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.usecases-marquee .avatar .name, .usecases-marquee .avatar .username {
   display: none;
}

.usecases-marquee .avatar .designation {
   font-size: 14px;
   font-family: "Polysans Neutral Mono", sans-serif;
   letter-spacing: 0.05em;
   color: white;
   line-height: 0.1;
}

.reviewcard-hallow {
   position: absolute;
   bottom: -5px;
   left: 30%;
   width: 50%;
   height: 50%;
}

button:hover {
   background-color: var(--light-teal)!important;
   color: black;
}

button.no-hover:hover {
   background-color: transparent!important;
}

#nav-div #overlay-content {
   position: fixed;
   width: 100vw;
   top: var(--navigation-height);
   opacity: 1;
   box-shadow: 0 8px 10px #00000008;
   background-color: black;

}

.header-body {
   display: flex;
   height: var(--navigation-height);
   align-items: center;
   justify-content: space-between;
}

button.selected-tab-button {
   background-color: rgb(59, 59, 59)!important;
   color: white!important
}

header .show-demo {
   background-color: var(--electric-blue)!important;
   background-image: none!important;
}

.highlight-color {
   color: var(--electric-blue)!important;
}

.bot-animation {
   position: absolute;
   bottom: 30%;
   right: 0px;
}

.bot-animation img {
   width: 175px;
   height: 175px;
}

#show-demo-wrapper {
   padding: 3px 3px 2px 3px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    height: unset;
    width: auto;
}

#show-demo-wrapper button {
   border-radius: 20px;
   background-color: var(--electric-blue);
   color: white;
}

#show-demo-wrapper::after {
   content: "";
   width: 50%;
   height: 500%;
   position: absolute;
   z-index: -2;
   padding: 0.25rem;
   /* border-radius: 4rem; */
   background: linear-gradient(180deg, #d8fd49, #dcbb9b, #e16bff);
   animation: 5s spin linear infinite;
   transition: all 300ms ease;
   left: 30%;
}

.cta-button {
   position: relative;
   left: -10px;
}

.gradient-landing-title:hover {
   background-color: none;
}

.landing-subtitle {
   margin-bottom: 0;
   /* font-family: "Archivo", sans-serif; */
   font-size: 1.25rem;
   font-weight: 400;
}



@keyframes spin {
   0% {
      transform: rotate(0deg);
      background: linear-gradient(180deg, #d8fd49, #dcbb9b, #e16bff);
      opacity: 0;
  }
  10% {
      transform: rotate(0deg);
      background: linear-gradient(180deg, #d8fd49, #dcbb9b, #e16bff);
      opacity: 1;
  }
  50% {
      transform: rotate(270deg);
      background: linear-gradient(180deg, #d8fd49, #dcbb9b, #e16bff);
      opacity: 1;
  }
  51%, 99% {
      transform: rotate(270deg);
      background: linear-gradient(180deg, #e16bff, #e16bff, #e16bff);
      opacity: 1;
  }
  100% {
      transform: rotate(270deg);
      background: linear-gradient(180deg, #e16bff, #e16bff, #e16bff);
      opacity: 0;
  }
}

.pulse{
   height: 10px;
   width: 10px;
   background: linear-gradient(
       #ff0075,
       #ff0075
   );
   margin: auto;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   border-radius: 50%;
   display: grid;
   place-items: center;
   font-size: 50px;
   color: #ffffff;
}
.pulse:before,
.pulse:after{
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: #ff0075;
   border-radius: 50%;
   z-index: -1;
   opacity: 0.7;
}
.pulse:before{
   animation: pulse 2s ease-out infinite;
}
.pulse:after{
   animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
   100%{
       transform: scale(2.5);
       opacity: 0;
   }
}